* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh
}

#app {
  height: 100%;
}

.main_page {
  flex-direction: column;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 450px;
  padding: 20px;
  width: 260px;

  label {
    color: #eee;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    top: 10px
  }

  .ic__input {
    display: flex;
    background-color: #303245;
    border-radius: 6px;
    border: 0;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.5;

    &:focus ~ .main_page__placeholder,
    &:not(:placeholder-shown) ~ .main_page__placeholder {
      transform: translateY(-30px) translateX(10px) scale(0.75);
    }

    &:not(:placeholder-shown) ~ .main_page__placeholder {
      color: #808097;
    }

    &:focus ~ .main_page__placeholder {
      color: #dc2f55;
    }

    &:after {
      content: attr(aria-label);
    }
  }
}

.main_page__title {
  display: flex;
  color: #eee;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
}

.main_page__subtitle {
  display: flex;
  color: #eee;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

.main_page__input_container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic-1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 20px;
}

.main_page__placeholder {
  color: #65657b;
  font-family: sans-serif;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main_page__submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  text-align: center;
  width: 100%;

  &:active {
    background-color: #06b;
  }
}


